.App {
  text-align: center;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: #feee00;
  padding: 0 10%;

}
.navbar ul {
  display: flex;
  align-items: center;
  gap: 30px;
 list-style: none;
 padding-top: 8px;
 
}
.navbar a{
  text-decoration: none;
  font-size: 24px;
} 
